<%= form_with url: "/update/#{@items.id}", method: :patch, local: :true do |form|  %>
  <h2><%= form.label :name, "Item:" %></h2>
  <%= form.text_field :name, value: "#{@items.name}"  %>
  <%= form.submit "Update" %>
<% end %>